body{
font-family:Arial;
text-align:center;
padding:20px;
}

#reader{
width:300px;
margin:auto;
}

#busca{
padding:10px;
font-size:18px;
width:80%;
margin-bottom:20px;
}

.card{
border:1px solid #ddd;
padding:15px;
margin:10px;
border-radius:10px;
}

button{
padding:10px 20px;
font-size:18px;
}

#mensagem{
margin-top:20px;
font-size:35px;
font-weight:bold;
}

.liberado{
background:#2ecc71;
color:white;
padding:40px;
font-size:50px;
border-radius:15px;
}

.bloqueado{
background:#e74c3c;
color:white;
padding:40px;
font-size:50px;
border-radius:15px;
}

#contador{
font-size:50px;
font-weight:bold;
margin-top:20px;
}
