body{

font-family:Arial;
text-align:center;
padding:20px;

}

#reader{

width:300px;
margin:auto;

}

#mensagem{

font-size:26px;
margin-top:20px;
font-weight:bold;

}

.liberado{

background:#16a34a;
color:white;
padding:20px;
border-radius:10px;

}

.bloqueado{

background:#dc2626;
color:white;
padding:20px;
border-radius:10px;

}

.item{

border:1px solid #ddd;
padding:10px;
margin:10px;
border-radius:10px;

}

button{

padding:10px 20px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;

}

#contador{

font-size:40px;
font-weight:bold;

}
